{% extends "base.html" %}

{% block title %}<title>Главная страница</title>{% endblock %}
{% block content %}
<h1>Интересная информация сайта</h1>

  <ul>
    <li><strong>Кол-во жанров:</strong> {{ num_genres }}</li>
    <li><strong>Кол-во книг со словом "дети" в названии:</strong> {{ num_books_word }}</li>
    <li><strong>Кол-во книг:</strong> {{ num_books }}</li>
    <li><strong>Кол-во копий книг:</strong> {{ num_instances }}</li>
    <li><strong>Кол-во доуступных копий книг:</strong> {{ num_instances_available }}</li>
    <li><strong>Кол-во авторов:</strong> {{ num_authors }}</li>
  </ul>

<p>
  Вы посетили эту страницу {{ num_visits }}{% if num_visits == 1 %} time{% else %} раз{% endif %}.
</p>
{% endblock %}