{% extends "base.html" %}
{% block title %}<title>Страница поиска</title>{% endblock %}
{% block content %}
<h1>Результаты поиска</h1>
<form method="get" action="{% url 'EA:search' %}">
    {{ form.as_p }}
    <button type="submit">Поиск</button>
</form>

<ul>
    {% for book in results %}
        <li>
            <a href="{% url 'EA:book-detail' book.id %}">{{ book.title }}</a> - {{ book.author.first_name }} {{ book.author.last_name }}
        </li>
    {% empty %}
        <li>Ничего не найдено.</li>
    {% endfor %}
</ul>
{% endblock %}